@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Licorice&family=Qwitcher+Grypen:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Licorice&family=Qwitcher+Grypen:wght@700&family=Source+Code+Pro:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* #hero .other{
    color: red;
} */

html{
    font-size: 20px;
    /* google font */
    font-family: Licorice;

}


img{
    height:100%;
    width: 100%;
    object-fit: cover;
}


a{
    text-decoration: none;

}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.box1{
    border:3px white none;
    background-color: bisque;
    border-radius: 10px;
    opacity: .7;
    

}



/* #hero .list a:link{
    color:red;

} */





/* hero */
#hero{
    background-image: url(img/IMG_1.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: whitesmoke;
    z-index: 1;
}



#hero::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #FFD1A4;
    opacity: .2;
    z-index: -1;
}

#hero .hero{
    max-width: 1200px;
    /* margin: 1px; */
    
    padding: 0 15px;
    justify-content: flex-start;
}

#hero h1{
    display: block;
    width: fit-content;
    
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards ;
    animation-delay: 1s;
    
}

#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation-delay: 3s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    /* background-color: whitesmoke; */
    background-color: transparent;
    animation: text_reveal_box 1s ease;
    /* animation-delay: 2s; */
}

#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}



#hero .right{
    margin-right: 100px;
    color: yellow;
}

#hero .cta{
    font-size: 3rem;
    position:absolute;
    right: 60px;
    top: 340px;
    border:2px white none;
    border-radius: 10px;
    background-color: gray;
    opacity: .7;
    display: inline-block;
    /* padding-top: 10px; */
    color: whitesmoke;
    text-decoration: none;
    text-decoration-style: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    /* margin-top: 40px;  */
    transition: .3s ease background-color;
    transition-property: background-color, color;
}  




#hero .cta:hover{
    color: white;
    background-color: #ADADAD;
}


/* keyframes */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }

    100%{
        width: 0;
        left: 100%
    }

}


@keyframes text_reveal{
    100%{
        color: black;

    }
}


/* Servies */

#services{}

#services .services{ 
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;


}

/* #services .section-title{
    font-size:  4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
} */
.section-title{
    font-size:  4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

#services .service-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    font-family: 'Dancing Script', cursive;

}

#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    marigin-top: 50px;
}

#services .service-item{
    background-image: url('img/service_item.jpg');
    /* opacity:0.4; */
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    padding: 30px;
    margin: 10px 5%;
    border-radius: 10px;
    position: relative; /* or the after wont work */
    z-index: 1;
    font-family: 'Dancing Script', cursive;
    color: #B87070;
    overflow: hidden;
    max-width: 800px;
    /* write it here */
    

    
    
}

/* 我們將圖片的 position 設定為 absolute，z-index 設為 1，所以圖片會將文字蓋住，如果將 z-index 設為 -1，則圖片會跑到文字後方 */

#services .service-item::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #E0E0E0;
    opacity: .6;
    z-index:  -1;
    
    
}



#services .service-item .date{
    font-size: 20px;
    color:#FF7575;
    margin-top: 2px;
    /* text-transform: uppercase; */
}

#services .service-item .icon{

    
    /* float: left;   */
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}




#services .service-item h2{
    
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p{
    
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}



#services .service-item a{
    /* color: black; */
    color: #B87070;
    border:3px dashed #ADADAD;
    border-radius: 10px;
    padding:5px;
    font-size: 30px;
    margin-top: 150px;
}



#services .service-item:


#services .project_link:hover{
    color:red;
    background-color:#E0E0E0;
}


/* projects Section*/
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    font-family: 'Dancing Script', cursive;
}

#projects .projects-header h1{
    margin-bottom: 50px;
}

#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin :20px auto;
    overflow: hidden;
    border: 3px solid #8E8E8E;
    max-width: 800px;
    border-radius: 10px;   
}

#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; 
    background-color: #9D9D9D;
    background-image: linear-gradient(60deg, #CF9E9E 0%, 	#CF9E9E 100%);
    color:white;

}

#projects .project-info h1{
    font-size: 3rem;
    font-weight: 500;
}

#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    
}

#projects .project-info p{
    
}

#projects .project-item .project-img{
    
    flex-basis: 50%;
    width: 100%;
    overflow: hidden;
    
    /* padding: 150px; */
    /* margin-top: 20px; */
    position: relative; /* in order for after to work */
    
}

#projects .project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:#D0D0D0;
    opacity: .3;

}
#projects .project-item .project-img{
    transition: .3s ease transform;
}
#projects .project-item .project-img:hover{
    
    transform: scale(.9);

}





/* #projects .section-title{
    font-size:  4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

} */