@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-size: 20px;
    /* google font */
    font-family: Licorice;

}




a{
    text-decoration: none;

}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box1{
    border:3px white none;
    background-color: bisque;
    border-radius: 10px;
    opacity: .7;
    

}



/* #hero .list a:link{
    color:red;

} */
#hero .list a:hover{
    color:#005757 

}


/* hero */
#hero{
    background-image: url(img/IMG_1.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #FFD1A4;
    opacity: .2;
    z-index: -1;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards ;
    animation-delay: 1s;
}

#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation-delay: 3s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: whitesmoke;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#hero .cta{
    
    
    border:2px white none;
    background-color: bisque;
    border-radius: 10px;
    opacity: .7;
    display: inline-block;
    padding: 2px;
    color: black;
    /* background-color: transparent; */
    /* border: 2px solid crimson; */
    font-size: 2rem;
    text-decoration: none;
    text-decoration-style: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    /* margin-left: 75px; */
    transition: .3s ease background-color;
    transition-property: background-color, color;
} 

#hero .cta:hover{
    color: white;
    background-color: #ADADAD;
}


/* keyframes */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }

    100%{
        width: 0;
        left: 100%
    }

}


@keyframes text_reveal{
    100%{
        color: black;

    }
}